


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    background-color: azure;
    width: 100%;
    height: 100%;
}

.nav {
 /* background-color: red; */
 height: 80px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-part-1 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.gola {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}


#phone-nav{
    display: none;
}

.gola {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

.nav-part-2 h2 {
    font-size: 3vh;
    font-weight: 400;
}

.nav-part-3 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.nav-part-3 h2 {
    font-size: 3vh;
    font-weight: 400;
}

.textarea {
    /* background-color: red; */
    width: 100%;
    height: calc(50% - 140px);
    display: flex;
    overflow-x: auto;
}

.textarea::-webkit-scrollbar{
background-color: transparent;
height: 5px;
}

.textarea::-webkit-scrollbar-thumb{
    background-color: orangered;
}


.elem {
    width: 92%;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    padding: 30px;
    justify-content: center;
    /* align-items: center; */
}

.textarea h2 {
    font-size: 16vh;
    font-weight: 400;
}
.img {
    width: 100%;
    height: 50%; 
    display: flex;
    background-position: top;
    overflow-y: auto;
}

.img::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.img::-webkit-scrollbar-thumb{
    background-color: red;
}

.img img {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    display: flex;
    overflow-x: auto;
    background-position: top;
}

















@media (max-width:600px) {

    #phone-nav{
        display: contents;
    }
    
    .nav {
     height: 60px;
    }

    .nav-part-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 20px;
    }
    
    .nav-part-2 h2 {
        font-size: 2vh;
        font-weight: 400;
        display: none;
    }

    
.nav-part-3 {
    width: 100%;
    height: 30px;
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-part-3 h2 {
    font-size: 1.3vh;
    font-weight: 400;
}


.textarea {
    /* background-color: red; */
    width: 100%;
    height: calc(35% - 100px);
    display: flex;
    overflow-x: auto;
}

.textarea::-webkit-scrollbar{
background-color: transparent;
height: 5px;
}

.textarea::-webkit-scrollbar-thumb{
    background-color: orangered;
}


.elem {
    width: 92%;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
}

.textarea h2 {
    font-size: 10vh;
    font-weight: 400;
}


.img {
    width: 100%;
    height: 65%; 
    display: flex;
    background-position: top;
    overflow-y: auto;
}

.img::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.img::-webkit-scrollbar-thumb{
    background-color: red;
}

.img img {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    display: flex;
    overflow-x: auto;
    background-position: top;
}



     
}